[submodule "include/abseil-cpp"]
	path = include/abseil-cpp
	url = https://github.com/abseil/abseil-cpp.git
[submodule "include/pybind11"]
	path = include/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "include/pybind11_abseil"]
	path = include/pybind11_abseil
	url = https://github.com/pybind/pybind11_abseil.git
[submodule "include/libcifpp"]
	path = include/libcifpp
	url = https://github.com/pdb-redo/libcifpp.git
[submodule "include/dssp"]
	path = include/dssp
	url = https://github.com/PDB-REDO/dssp.git
